<!DOCKTYPE html>
<html>
    <head>
        <title>Ruby!</title>
    </head>
    <body>
        <h1>Enter name to Reverse</h1>
        <form action="/reverse" method="post">
            First Name<input type="text" id = "fname" name = "fname" required>
            Last Name<input type="text" id = "lname" name = "lname" required>
            <button type="submit">Reverse name</button>
        </form>
    </body>
</html>